Node / Frontend Dependencies
node_modules
dist
dist-ssr
*.local

Python / Backend Dependencies & Caches
venv
pycache/
*.pyc

IDE & OS Files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
.ntvs
*.njsproj
*.sln
*.sw?

Sensitive Environment Variables
.env